.books {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 30rem 1fr;
  gap: 6rem;
}

@media (max-width: 992px) {
  .books {
    grid-template-columns: 1fr;
  }
}

/**/
.books-list {
  overflow-y: scroll;
  height: 80vh;
}
.books-list::-webkit-scrollbar {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0.8rem 0;
}

.item {
  display: flex;
  cursor: pointer;
  padding: 1rem 0.5rem;
  border-radius: 0.7rem;
  border-bottom: 1px solid var(--gray2);
  transition: background-color 0.3s ease-in-out;
}
.item:hover,
.item:focus {
  background-color: var(--gray2);
}
.item.active {
  background-color: var(--gray2);
}

.item img {
  width: 8rem;
  height: 8rem;
  border-radius: 0.7rem;
}

.item h3 {
  font-size: 1.8rem;
  color: var(--gray4);
  padding-top: 0.5rem;
  margin-left: 1.2rem;
  max-width: 18rem;
  word-wrap: break-word;
}
/**/
.book-details {
  background-color: var(--gray2);
  border-radius: 0.7rem;
  padding: 1.5rem;
}

.book-details .content {
  display: flex;
}

.book-details .content .image {
  width: 30%;
  margin-right: 2rem;
}

.image img {
  width: 100%;
  border-radius: 0.7rem;
}

.book-details .content .details {
  padding: 1rem;
  width: 70%;
}

.details h2 {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  color: var(--gray4);
}

.details p {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.book-details .description {
  padding: 1rem;
  font-size: 1.6rem;
}
